<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/collocations.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <title>CoCoCo: Collocations, Colligations, and Corpora</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&amp;subset=cyrillic" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" src="../static/javascript/collocations.js"></script>
<!--    <script type="text/javascript" src="../static/javascript/simple_search.js"></script>-->
</head>
<body>
    <div class="container">
        <div id="header_gen" ng-model="query_pos1" class="ng-pristine ng-valid">
            <div class="semi_round_div">
                <div id="logo"><img src="../static/icons/cococo_old.png" alt="CoCoCo"></div>
                <div id="cococo">Collocations<br>Colligations<br>Constructions</div>
                <div class="menu">
                    <div class="menu_button lang-switch"><a style="color: #FF684E;" href="{{ url_for('toggle_language') }}">{{('ENG') if get_locale() == 'ru' else ('RUS') }}</a></div>
                    <div class="menu_button"><a href="/about">О НАС</a></div>
                    <div class="menu_button"><a href="/advanced">РАСШИРЕННЫЙ ПОИСК</a></div>
                </div>
            </div>
        </div>


        <div class="overlay"></div>
        <div class="round_div">
            <div class="wrap" id="wrap-bottom">
                <div class="left_column">

                    <div class="toggle-box">

                        <a class="toggle-wordform ng-binding">Токен</a>
                        <label class="switch">
                            <input type="checkbox" value="word" >
                            <span class="slider round" id="lemmaToggle"></span>
                        </label>
                        <a class="toggle-lemma ng-binding">Лемма</a>
                    </div>
                </div>
                <div class="search-banner">
                    <div class="central-column">
                        <div class="column two-to-four">
                            <div>
                                <input id="word1" class="input_word" placeholder="Введите слово">
                            </div>

                            <div class="pos-selection-container">
                                <div class="pos-interface-string">ЧАСТЬ РЕЧИ:</div>
                                <select id="partSelect1" name="part1">
                                    <option value="all" selected>Все</option>
                                    <option value="noun">Существительное</option>
                                    <option value="verb">Глагол</option>
                                    <option value="adj">Прилагательное</option>
                                    <option value="adv">Наречие</option>
                                    <option value="part">Частица</option>
                                    <option value="pron">Местоимение</option>
                                    <option value="adp">Предлог</option>
                                    <!-- <option value="punct">Знак препинания</option> -->
                                    <option value="num">Числительное</option>
                                    <option value="propn">Имя собственное</option>
                                    <option value="cconj">Союз</option>
                                    <!-- <option value="sym">Символ</option> -->
                                    <option value="sconj">Подчинительный союз</option>
                                    <option value="aux">Вспомогательный глагол</option>
                                    <!-- <option value="det">Определитель</option> -->
                                    <!-- <option value="x">Другое</option> -->
                                    <!-- <option value="pad">Паддинг</option> -->
                                    <option value="intj">Междометие</option>
                                </select>
                                <a style="display: none;" id="show_features12">
                                    <div class="co_buttons">
                                        ...
                                    </div>
                                </a>

                                <div id="morphologyWindow1" class="modal">


                                    <!-- Modal content -->
                                    <div class="window">
                                        <div class="param_block" id="block_param12">
                                            <div class="feat_table" id="featuresContainer1">
                                            </div>
                                        </div>
                                        <div class="window_block">
                                            <div style="display: inline-block; width: 255px;">
                                                <a id="hide_features1">
                                                    <div class="co_button_s ng-binding">Ок</div>
                                                </a>
                                                <div class="co_button_s ng-binding" id="clearFeatures1">Отмена</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="column two-to-four">
                            <div>
                                <input id="word2" class="input_word" placeholder="Введите слово">
                            </div>

                            <div class="pos-selection-container">
                                <div class="pos-interface-string">ЧАСТЬ РЕЧИ:</div>
                                <select id="partSelect2" name="part2">
                                    <option value="all" selected>Все</option>
                                    <option value="noun">Существительное</option>
                                    <option value="verb">Глагол</option>
                                    <option value="adj">Прилагательное</option>
                                    <option value="adv">Наречие</option>
                                    <option value="part">Частица</option>
                                    <option value="pron">Местоимение</option>
                                    <option value="adp">Предлог</option>
                                    <!-- <option value="punct">Знак препинания</option> -->
                                    <option value="num">Числительное</option>
                                    <option value="propn">Имя собственное</option>
                                    <option value="cconj">Союз</option>
                                    <!-- <option value="sym">Символ</option> -->
                                    <option value="sconj">Подчинительный союз</option>
                                    <option value="aux">Вспомогательный глагол</option>
                                    <!-- <option value="det">Определитель</option> -->
                                    <!-- <option value="x">Другое</option> -->
                                    <!-- <option value="pad">Паддинг</option> -->
                                    <option value="intj">Междометие</option>
                                </select>
                                <a style="margin: 0px; display: none;" id="show_features22">
                                    <div class="co_buttons">
                                        ...
                                    </div>
                                </a>

                                <div id="morphologyWindow2" class="modal">


                                    <!-- Modal content -->
                                    <div class="window">
                                        <div class="param_block" id="block_param22">
                                            <div class="feat_table" id="featuresContainer2">
                                            </div>
                                        </div>
                                        <div class="window_block">
                                            <div style="display: inline-block; width: 255px;">
                                                <a id="hide_features2">
                                                    <div class="co_button_s ng-binding">Ок</div>
                                                </a>
                                                <div class="co_button_s ng-binding" id="clearFeatures2">Отмена</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="column two-to-four" id="word_3_wrapper" style="display: none">
                            <div>
                                <input id="word3" class="input_word" placeholder="Введите слово">
                            </div>

                            <div class="pos-selection-container">
                                <div class="pos-interface-string">ЧАСТЬ РЕЧИ:</div>
                                <select id="partSelect3" name="part3">
                                    <option value="all" selected>Все</option>
                                    <option value="noun">Существительное</option>
                                    <option value="verb">Глагол</option>
                                    <option value="adj">Прилагательное</option>
                                    <option value="adv">Наречие</option>
                                    <option value="part">Частица</option>
                                    <option value="pron">Местоимение</option>
                                    <option value="adp">Предлог</option>
                                    <!-- <option value="punct">Знак препинания</option> -->
                                    <option value="num">Числительное</option>
                                    <option value="propn">Имя собственное</option>
                                    <option value="cconj">Союз</option>
                                    <!-- <option value="sym">Символ</option> -->
                                    <option value="sconj">Подчинительный союз</option>
                                    <option value="aux">Вспомогательный глагол</option>
                                    <!-- <option value="det">Определитель</option> -->
                                    <!-- <option value="x">Другое</option> -->
                                    <!-- <option value="pad">Паддинг</option> -->
                                    <option value="intj">Междометие</option>
                                </select>
                                <a style="margin: 0px; display: none;" id="show_features32">
                                    <div class="co_buttons">
                                        ...
                                    </div>
                                </a>

                                <div id="morphologyWindow3" class="modal">


                                    <!-- Modal content -->
                                    <div class="window">
                                        <div class="param_block" id="block_param32">
                                            <div class="feat_table" id="featuresContainer3">
                                            </div>
                                        </div>
                                        <div class="window_block">
                                            <div style="display: inline-block; width: 255px;">
                                                <a nohref="" id="hide_features3">
                                                    <div class="co_button_s ng-binding">Ок</div>
                                                </a>
                                                <div class="co_button_s ng-binding" id="clearFeatures3">Отмена</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="right-column">

                        <div class="plus-minus-buttongroup">
                            <a nohref="" style="">
                                <div class="co_button_plus" id="plusButton" title="Добавить элемент">
                                    <svg class="svg-inline--fa fa-plus fa-w-14 plus-minus-button" aria-hidden="true" data-prefix="fas"
                                         data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                              d="M448 294.2v-76.4c0-13.3-10.7-24-24-24H286.2V56c0-13.3-10.7-24-24-24h-76.4c-13.3 0-24 10.7-24 24v137.8H24c-13.3 0-24 10.7-24 24v76.4c0 13.3 10.7 24 24 24h137.8V456c0 13.3 10.7 24 24 24h76.4c13.3 0 24-10.7 24-24V318.2H424c13.3 0 24-10.7 24-24z"></path>
                                    </svg><!-- <i class="fas fa-plus"></i> -->
                                </div>
                            </a>
                            <a nohref="">
                                <div class="co_button_minus" id="minusButton" style="display: none" title="Убрать элемент">
                                    <svg class="svg-inline--fa fa-minus fa-w-14 plus-minus-button" aria-hidden="true" data-prefix="fas"
                                         data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                              d="M424 318.2c13.3 0 24-10.7 24-24v-76.4c0-13.3-10.7-24-24-24H24c-13.3 0-24 10.7-24 24v76.4c0 13.3 10.7 24 24 24h400z"></path>
                                    </svg><!-- <i class="fas fa-minus"></i> -->
                                </div>
                            </a>
                        </div>

                        <div class="search-delete-buttongroup">
                            <a nohref id="searchBtn">
                                <div class="co_button_s">Поиск</div>
                            </a>
                            <div id="resetAllButton" class="co_button_s ng-binding">Отмена</div>
                        </div>
                    </div>

                </div>
                <div class="query-result">
                        <b class="ng-binding"></b>
                    </div>
            </div>
        </div>

        <div id="resultBackground" style="float: left;margin-bottom: 64px;">
            <div id="showingResults" class="results">

                <div id="resultDiv" class="resultDiv">
                </div>
                <div class="texts">
                    <b id="errorText"></b>
                </div>
            </div>
        </div>
        <div id="footer">
        <div class="affiliation">
        <a href="https://www.helsinki.fi/en" target="_blank">Хельсинкский университет, 2015—2024</a>
        </div>
    </div>
    </div>
</body>
</html>